extends ../layout.pug

block content
    h3 #{cliente.nombre} #{cliente.apellidos}
    p Dirección: #{cliente.direccion}
    p Email: #{cliente.email}
    p Edad: #{cliente.edad}
    p Sexo: #{cliente.sexo}
    p Fecha Inscripción: #{cliente.fecha_inscripcion}