extends ../layout

block content
    h2.mt-5 Lista de Clientes
    table.table
        thead
            tr
                th Nombre
                th Apellidos
                th Dirección
                th Email
                th Edad
                th Sexo
                th Cuota
                th DNI
                th Acciones
        tbody
            each cliente in clientes
                tr
                    td= cliente.nombre
                    td= cliente.apellidos
                    td= cliente.direccion
                    td= cliente.email
                    td= cliente.edad
                    td= cliente.sexo
                    td= cliente.cuota
                    td= cliente.dni
                    td
                        a.btn.btn-info.btn-sm(href="/clientes/"+cliente.id) Detalle
                        a.btn.btn-danger.btn-sm.ml-1(href="/clientes/delete/"+cliente.id) Borrar
                        a.btn.btn-primary.btn-sm.ml-1(href="/clientes/edit/"+cliente.id) Editar